// --------------------------------------------------------------------------
// Backgrounds --------------------------------------------------------------
// --------------------------------------------------------------------------

.title-section {
    height: 100vh;
    color: $white;
    text-align: center;
    text-shadow: 0 0 5px black;
    @include flex-col;
    justify-content: flex-end;
    transition: ease .5s;
    margin-top: 50px;
    h1 {
        margin-bottom: 20px;
    }
}

//minor adjustments for small screens as although mostly designed as mobile first, this saved some coding
@media screen and (max-width: 450px) {
   .title-section {
        h1 {
            font-size: em(36px);
            @media screen and (max-height: 520px) {
                font-size: em(30px);
            }
        }
        h3 {
            font-size: em(26px)
        }
        p {
            font-size: 20px;
        }
    }
}


