// --------------------------------------------------------------------------
// Hamburger ----------------------------------------------------------------
// --------------------------------------------------------------------------

.hamburger {
    position: absolute;
    z-index: 100;
    left: 0%;
    margin-top: 10px;
    font-size: em(50px);
    color: $dark-grey;
    span::after {
        content: "\e9bd";
    }
    span {
        transition: none;
        &:hover {
            color: $dark-cream;
        }
    }
    @include mq(large) {
        color: lighten($grey, 15%);
    }
}





